.card {
  color: #ecf0f1;
  text-align: center;
  /*background-color: #ecf0f1;*/
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.me {
  margin: auto;
  max-width: 200px;
}
.content {
  max-width: 700px;
  margin: auto;
}
.tab-pane {
  background: #ecf0f1;
  padding: 20px;
  min-height: 300px;
  margin-bottom: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.tab-content a {
  text-decoration: underline;
}
.tab-pane a:hover {
  color: #1179e0
}

.tab-pane a {
  color: #2c3e50
}

.nav-tabs a {
  /*background-color: #ecf0f1 !important;*/
}

.contact-links .in {
  width: 30px;
  margin: auto;
}
.contact-links .github {
  width: 30px;
  margin: auto;
}

.footer {
  border-top: 1px solid #bdc3c7;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ecf0f1;
  text-align: center;
}

.footer img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 40px;
}

a:hover {
  color: #2c3e50
}
a {
  color:  #ecf0f1;
}

body {
  background-color: #34495e;
  /*background-image: url("/images/bg.png");*/
}

@media screen and (max-width: 500px) {
  .nav>li>a {
    border-radius: 4px;
  }
  .nav>li {
    float: none;
  }
  .nav-tabs {
    margin: 5px 0 5px 0;
    border-bottom: none;
  }

}
